body {
  /* font-family: Optima, Candara, Calibri, Arial, sans-serif; */
  /* font-family: "Anonymous Pro", "Courier New", Courier, monospace; */
  font-family: Palatino, palatino linotype, palatino lt std, latin modern roman,serif;
  font-size: 100%;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
